/*
   FONTS
*/


html, body{
    margin: 0;
    padding: 20px 0 0 0;
    background-color: #F5F5F5;
}

h1, h2, h3, p, .curly1, .curly2{
    user-select: none;
}

h1{
    font-family: pacific;
    font-size: calc( 18px + ( 30 -18 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
    margin-top: -40px;
    letter-spacing: 8px;
}

h2{
    font-family: monsterrat;
    font-size:  25px;
    margin-top: 110px;
    letter-spacing: 3px;
}

.download-data{
    background-color: #F5F5F5;
    color: #ffbe1d;
}

.download-data:hover{
    text-decoration: underline;
}

h3{
    font-family: Hind;
    margin-left: -10px;
}

.nk-logo{
    -moz-user-select: none;
    user-select: none;
}

.SM{
    display: flex;
    width: 90px;
    gap:30px;
    margin-top: -16px;
}

.youtube{
    color: RED;
}

.twitter{
    color: #02a8f3;
}

.youtube:hover, .twitter:hover{
    color: grey;
    transition: 1s;
}

footer{
    width: 100%;
    height: 300px;
    margin-top: 6vh;
    background-image: url("../Images/footer.png");
}

.knownk{
    font-family: yantramanav;
    width: 350px;
    line-height: 1.4;
    font-weight: 300;
    font-size: 18px;
    margin: 60px auto 0 auto;
    padding: 14px;
    text-align: justify;
}

.bs1{
    margin-top: 5vh;
    font-family: yantramanav;
    font-weight: 500;
    width: 350px;
    text-align: justify;
}

.bs2{
    font-family:  yantramanav-thin;
    position: absolute;
    top: 10%; /* Adjust as necessary */
    left: 50%; /* Adjust as necessary */
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); /* Adjust as necessary */
    font-size: calc( 15px + ( 24 - 15 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );/* Adjust as necessary */
    font-weight: bold;
}

.mumbai{
    margin-top: 40px;
    font-family: yantramanav-thin;
    font-weight: bolder;
    line-height: 30px;
}

.mumbai span{
    letter-spacing: 35px;
    font-weight: bolder;
}

.india {
    width: 40px;
    height: auto;
    margin: 0 0 40px 0;
}

.curly1, .curly2{
    font-size: 105px;
    position: absolute;
    top: 810px;
    font-family: yantramanav-thin;
    font-weight:300;
}

.curly1{
    left: 38%;
}

.curly2{
    right: 38%;
}

.footer{
    width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    width: 100%; /* Adjust as necessary */
}
  
.image-container .text {
    position: absolute;
    font-family: yantramanav;
    top: 95%; /* Adjust as necessary */
    left: 50%; /* Adjust as necessary */
    transform: translate(-50%, -50%);
    color: white; /* Adjust as necessary */
    font-size: calc( 15px + ( 24 - 15 ) * ( 100vw - 320px ) / ( 1920 - 320 ) );/* Adjust as necessary */
    font-weight: bold;
}

.arrow {
    display: inline-block;
    margin-left: -14px;
    margin-right: 10px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;  
    border-left: 4px solid rgb(250 204 21 / var(--tw-text-opacity));;  /* Arrow points to right */
    transform: rotate(90deg); /* Make it point downwards */
  }
  
  .dropdown-button.open .arrow {
    transform: rotate(-90deg); /* Make it point upwards when button is open */
  }
  
  .text{
    width: 100%;
    font-size: calc(7px + ( 24 - 7 ) * ( 100vw - 320px ) / ( 1920 - 320 ));
  }

@media screen and (max-width: 1190px)  {
    .curly1{
        left: 35%;
    }
    
    .curly2{
        right: 35%;
    }
}

@media screen and (max-width: 1000px)  {
    .curly1{
        left: 32%;
    }
    
    .curly2{
        right: 32%;
    }
}

@media screen and (max-width: 800px)  {
    .curly1{
        left: 30%;
    }
    
    .curly2{
        right: 30%;
    }
}

@media screen and (max-width: 650px) {
    h2{
        margin-top: 100px;
    }
    .nk-logo{
        width: 400px;
    }
    .curly1, .curly2 {
        top: 560px;
    }
    .curly1{
        left: 20%;
    }
    
    .curly2{
        right: 20%;
    }
}

@media screen and (max-width: 450px){
    .curly1{
        left: 15%;
    }
    
    .curly2{
        right: 15%;
    }
}

@media screen and (max-width: 400px) {
    .SM{
        margin-left: 40%;
        margin-right: 60%;
    }
    h2{
        margin-top: 80px;
    }
    .nk-logo{
        width: 300px;
    }
    .knownk{
        width: 200px;
    }
    .bs1{
        width: 200px;
    }
    .curly1, .curly2 {
        top: 425px;
        font-size: 115px;
    }
    .curly1{
        left: 10%;
    }
    
    .curly2{
        right: 10%;
    }
}

@media screen and (max-width: 360px) {
    .curly1{
        left: 6%;
    }
    
    .curly2{
        right: 6%;
    }
}
